<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="static\css\about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
    <div class="about-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="about-img">
                        <img src="static\img\Document scanning (1).gif" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-lg-offset-1">
                    <div class="about-text">
                        <h2>About Us</h2>
                        <p>Our cutting-edge scanning and verifying website revolutionizes document management. Seamlessly scan physical documents into digital formats with precision. Our advanced verification algorithms ensure data accuracy. Protect sensitive information with robust encryption. Streamline your workflow and access digitized content securely. Experience efficiency and reliability like never before.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="features">
        <div class="text-center">
          <h2>Features</h2>
          <p>High-res scanning, data accuracy checks, robust security, and streamlined workflow optimization make our website your top choice for document management. </p>
        </div>
        <div class="container">		
          <div class="col-md-4">
            <figure class="effect-marley">
              <img src="static/img/accurate.jpg" alt="" class="img-responsive"/>
              <figcaption>
                <h4>Accurate Scanning </h4>
                <p>High-quality document scanning with precision</p>				
              </figcaption>			
            </figure>
          </div>
          <div class="col-md-4">
            <figure class="effect-marley">
              <img src="static\img\CNN.png" alt="" class="img-responsive"/>
              <figcaption>
                <h4>Convolution Neural Network</h4>
                <p>Advanced algorithms ensure data accuracy.</p>
              </figcaption>			
            </figure>
          </div>
          <div class="col-md-4">
            <figure class="effect-marley">
              <img src="static/img/streamline.jpg" alt="" class="img-responsive"/>
              <figcaption>
                <h4>Streamlined Workflow</h4>
                <p>Efficient access to digitized content, enhancing productivity.</p>
              </figcaption>			
            </figure>
          </div>
        </div>
</body>
</html>