<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static\css\contact.css">
</head>
<body>
    <div class='container'>
            <form action="https://formspree.io/f/mdoqpanq" method="POST">
                <center><h1>Contact Form</h1></center>
                <input type="text" name="first" placeholder="First Name" autocomplete="off" required>
                <input type="text" name="last" placeholder="Last Name" autocomplete="off" required>
                <input type="email" name="email" placeholder="Email Address" autocomplete="off" required>
                <textarea rows="5" cols="60" name="message" placeholder="Enter text" autocomplete="off" required></textarea>
                <button type="submit">Submit</button>
                <a href="/">Back to homepage</a>
            </form>
        </body>
</body>
</html>